*{box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;}


.navbar{width: 100%;
padding: 5px;
background-color: grey;}

.container{
margin: 0 auto;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}

.navbar-bg-img input[type="search"]{
background-image: url(../img/search.svg);
background-size: 25px;
background-repeat: no-repeat;
background-position: 50% left;
padding-left: 25px;}

.navbar-logo h3 {color: white;
} 
/* ................2 */
.hero{background-image: url(../img/texture.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 500px;
width: 100%;}

.hero-content{text-align: center;
padding-top: 230px;
}

.hero-content span{color:var(--grey);
font-size: xx-large;
font-weight: bold;
font-style: italic;}